.DS_Store
Library
Library/*
*.csproj
*.sln
*.userprefs
*.unityproj
Temp
*.pidb
Build
L_FG_Assets_Pack1.0
L_FG_Assets_Pack1.0/*
obj
Assembly-CSharp.csproj
Assembly-CSharp-vs.csproj
JnR CDm RPG.sln
JnR CDm RPG-csharp.sln
JMO Assets
JMO Assets/*
/JnR/Assets/3rd Party/Jean Moreno (JMO)
/JnR/Assets/3rd Party/Props Animations
